

/**************************************************     Landing Page     **************************************************/ 
img.bg {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;

        /* Set up proportionate scaling */
        width: 100%;
        height: auto;

        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
        
        z-index:-10;
}

.landing_page_info_wrapper{
  text-align:center;
  min-width:800px;
  font-family: 'Fanwood Text', serif;
}

.landing_page_info_logo{
  font-family: 'Stardos Stencil', cursive;
  font-weight:bold;
  font-size:50px;	
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .6);
  color:#AD5823;
}

.landing_page_info_text{
  font-size:30px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .6);
  color:#EDEDED;
  margin-bottom:10px;
}

.locations{
  font-size:15px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
  color:#EDEDED;
}

.rustic_card{
  background-image:url('/images/rusticCard.png');
  display:inline-block;
  margin: 0 7px;
  width:244px;
  height:123px;
}

.rustic_card_text{
  padding:5px;
  margin:10px 0;
  font-size:16px;
  text-shadow: 1px 1px 1px rgba(204, 204, 204, .6);
  color:#000;
}


/**************************************************     End Landing Page     **************************************************/

@media screen and (max-width: 1024px) { /* Specific to this particular image */
        img.bg {
                left: 50%;
                margin-left: -512px;   /* 50% */
        }
}



