<img src="images/feedStoreRemovePolesCrop1280x576.png" alt="" class="bg">

<div class="landing_page_info_wrapper">

  <div class="landing_page_info_logo">
    Scottsdale Livestock
  </div>

  <div class="landing_page_info_text">
    Under New Management
  </div>
  
  <div class="landing_page_info_locations">
    <div class="locations">Locations:</div>
    <div class="rustic_card">
      <div class="rustic_card_text">
        22255 N. Scottsdale Rd.<br />
        Scottsdale, AZ 85255<br />
        Tel: 480-515-1800<br/>
        Fax: 480-513-1686
      </div>
    </div>
    <div class="rustic_card">
      <div class="rustic_card_text">
        7501 E. Redfield Rd.<br />
        Scottsdale, AZ 85260<br />
        Tel: 480-998-1860<br/>
        Fax: 480-922-0203
      </div>
    </div>
    <div class="rustic_card">
      <div class="rustic_card_text">
        28170 N. Alama School Pkwy #105<br />
        Scottsdale, AZ 85262<br />
        Tel: 480-699-0123<br/>
        Fax: 480-686-9779
      </div>
    </div>
  </div>
  
</div>

